/* ---------------------------------Form----------------------------------- */
form {
  width: 448px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
}

.form-title {
  margin-top: 0px;
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.form-field {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}

.form-input {
  width: 448px;
  height: 40px;
  margin: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;

  transition: border $time-delay $time-fuction;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

.form-input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  transition: transform $time-delay $time-fuction;

  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: $secondary-text-color;

  .form-input:focus + &,
  .form-input:not(:placeholder-shown) + & {
    color: $accent-color;
    border-color: $accent-color;
    transform: translate(-23px, -40px);
    transition: transform $time-delay $time-fuction;
  }
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
  transition: transform $time-delay $time-fuction;

  fill: currentColor;

  .form-input:focus ~ & {
    color: $accent-color;
    transition: color $time-delay $time-fuction;
  }
}

textarea {
  width: 448px;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 10px;

  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: $secondary-text-color;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  color: $secondary-text-color;
  cursor: pointer;
}

.form-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 24px;
  color: $secondary-text-color;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
}

.icon-check {
  display: inline-block;
  margin-right: 4px;

  border: 2px solid $primary-text-color;
  border-radius: 2px;

  .checkbox:checked + & {
    background-color: $accent-color;
    border-color: $accent-color;
    background-origin: border-box;

    transition: background-color $time-delay $time-fuction,
      border-color $time-delay $time-fuction;
  }
}

.checkbox-link {
  color: $accent-color;
}

.form-button {
  display: block;
  min-width: 200px;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: $white-color;
  background-color: $accent-color;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border: none;
}
